<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<#assign path=request.contextPath /> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="${path}/ckeditor/ckeditor.js"></script>
<script src="${path}/js/jquery-1.11.0.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	var type1 = "${(article.type1)!''}";
	$("#type1").val(type1);
	//console.info($("#type1").val()+"  _ "+type1);
})
</script>
<title>内容编辑</title>
</head>
<body>
<div align="left">
	<form action="save.html" method="post">
		<div style="width: 100%">
			<textarea style="width: 0px" class="ckeditor" id="content" cols="80" name="content" rows="10">
				${(article.content)!''}</textarea>
		</div>
		<br/>
		栏目：<select name="type1" id="type1" style="width: 180px">
			<option value="0">——请选择——</option>
			<#list type1Map?keys as type>
				<option value="${type}">${type1Map[type]}</option>
			</#list>
		</select>
		<br/>
		<br/>
		作者：<input type="text" id="author" name="author" maxlength="50" style="width: 175px" value="${((article.author)!'')?html}"/>
		<input type="hidden" name="id" value="${(article.id)!''}"/>
		<input type="hidden" name="tabId" value="${tabId}"/>
	</form>
</div>
</body>
</html>